.essay aside {
  border-radius: 3px;
  margin: 2em 0;
  overflow-wrap: break-word;
  padding: 0 2.5rem 0 2.5rem;
}

.essay aside strong {
  display: block;
  font-family: sans-serif;
  font-size: 2rem;
  font-style: italic;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
}

.essay aside small {
  color: #333;
  display: block;
  font-family: sans-serif;
  font-size: 1.35rem;
  font-weight: 400;
  line-height: 1.5;
}

.essay blockquote {
  border-radius: 3px;
  margin-block-end: 0.75rem;
  margin-block-start: 0.75rem;
  margin-inline-end: 0px;
  margin-inline-start: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  overflow-wrap: break-word;
  padding: 0 2.5rem 0 2.5rem;
  z-index: 1;
}

.essay blockquote p {
  line-height: 1.5;
}

@media only screen and (min-width: 1001px) {
  .essay blockquote p,
  .essay blockquote cite {
    line-height: 1.5;
  }
}

.essay blockquote div {
  line-height: 1.15;
  margin-top: 1rem;
}

.essay hr {
  border-bottom: none;
  border-top: 2px solid black;
  margin-top: 1.25rem;
  padding-bottom: 0.5rem;
}

.essay hgroup {
  text-align: center;
  margin-top: 3.5rem;
  margin-bottom: 2rem;
}

.essay hgroup hr {
  max-width: 80%;
  margin: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  border-top-width: 1.5px;
}

@media only screen and (min-width: 1001px) {
  .essay hgroup hr {
    max-width: 40%;
  }
}

.essay hgroup p {
  margin: 0;
  margin-top: 0.25rem;
  margin-bottom: 2rem;
  font-size: 0.875rem;
  line-height: 1.25;
}

.essay hgroup p cite {
  display: inline-block;
  margin-top: 0.5rem;
}

@media only screen and (min-width: 1001px) {
  .essay hgroup p {
    font-size: 1.15rem;
  }
}

.essay hgroup small {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: bold;
}

.essay hgroup address {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: bold;
}

.essay h1 {
  font-family: sans-serif;
  font-size: 1.75rem;
  font-weight: 900;
  line-height: 0.85;
  margin-top: 2.25rem;
  margin-bottom: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.essay h1.xs {
  font-size: 1rem;
}

.essay h1.sm {
  font-size: 1.5rem; 
}

.essay h1.lg {
  font-size: 2rem;
}

.essay h1.xl {
  font-size: 2.5rem;
}

@media only screen and (min-width: 1001px) {
  .essay h1 {
    font-size: 2.5rem;
  }

  .essay h1.xs {
    font-size: 1.25rem;
  }
  
  .essay h1.sm {
    font-size: 2rem; 
  }
  
  .essay h1.lg {
    font-size: 3rem;
  }

  .essay h1.xl {
    font-size: 3.5rem;
  }
}

.essay h2 {
  font-family: sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 0.1rem;
  margin-top: 1.5rem;
}

.essay h3 {
  font-family: sans-serif;
  font-size: 1.75rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  margin-top: 0.75rem;
}

.essay h3 a {
  color: #222;
  line-height: 1;
  text-decoration: none;
}

.essay h4 {
  font-family: sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 4rem 0 0;
  text-align: center;
}

.essay img {
  max-height: 30rem;
  max-width: 100%;
}

@media only screen and (min-width: 1001px) {
  .essay img {
    display: block;
    margin: auto;
    max-height: 80vh;
    max-width: 100%;
    width: auto;
  }
}

.essay figure {
  /* make full-width: article has 1rem of horizontal padding */
  margin: 0 -1rem 2rem;
  text-align: center;
}

@media only screen and (min-width: 1001px) {
  .essay figure {
    margin: 0 0 2rem;
    margin-left: -2rem;
    width: 110%;
    text-align: center;
  }
}

.essay figure figcaption {
  color: #333;
  font-family: Arial, sans serif;
  font-size: 0.75rem;
  line-height: 1.15;
  margin-top: 0.25rem;
  padding: 0 0.5rem;
  text-align: right;
  text-transform: uppercase;
}

.essay figure figcaption a {
  color: #555;
  font-size: 0.75rem;
}

@media only screen and (min-width: 1001px) {
  .essay figure figcaption {
    line-height: 0.7;
    margin-top: 0.5rem;
    padding: 0;
  }
}

article.essay {
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5rem;
  padding: 0 1rem 3rem 1rem;
}

article.essay > div {
  margin-bottom: 2.5rem;
}

@media only screen and (min-width: 1001px) {
  article.essay {
    margin-top: 3.5rem;
    max-width: 50rem;
    padding: 0 1.5rem 5rem 1.5rem;
  }
}

.essay mark {
  background-color: Khaki;
}

.essay p {
  line-height: 1.55;
  margin-block-end: 0.25rem;
  margin-start: 1.25rem;
}

.essay div[role="doc-subtitle"] {
  font-weight: 400;
  margin-bottom: 1rem;
}

.essay fieldset {
  border: 2px solid #333;
  color: #333;
  margin-top: 4rem;
}

.essay fieldset a {
  color: #333;
}

.essay fieldset ul {
  margin: 0.5rem 0;
}

.essay fieldset li {
  line-height: 1.75;
}

@media only screen and (min-width: 1001px) {
  .essay fieldset li {
    line-height: 2;
  }
}

.essay legend {
  background-color: White;
  border: 2px solid #333;
  color: #333;
  padding: 0 0.5rem;
}

.essay span.emphasized {
  color: #534987; 
  font-family: sans-serif;
  font-size: 1.25rem;
  font-style: italic;
  font-weight: 500;
}

.essay li {
  margin-bottom: 0.25rem;
}

