main article.splash address,
main article.medium address,
main article.small address {
  font-style: normal;
  width: 100%;
  text-align: center;
  margin-bottom: 0.75rem;
}

main article.small address {
  text-align: left;
}

main article.splash a,
main article.medium a,
main article.small a {
  margin-top: 0.5rem;
  display: block;
  text-align: right;
}

main article hgroup {
  margin-bottom: var(--spacing-lg);
}

main article h1 {
  font-family: var(--font-family);
  display: block;
  font-size: var(--font-size-lg);
  font-weight: 700;
  line-height: var(--line-height-lg);
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

@media only screen and (min-width: 1025px) {
  main article h1 {
    max-width: 30rem;
    font-size: var(--font-size-md);
    line-height: var(--line-height-md);
    margin: 0 auto 0.25rem;
  }
}

main article h2 {
  font-family: var(--font-family);
  display: block;
  font-weight: 400;
  font-size: var(--font-size-lg);
  line-height: var(--line-height-lg);
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 1025px) {
  main article h2 {
    max-width: 30rem;
    font-size: var(--font-size-md);
    font-style: italic;
    line-height: var(--line-height-md);
    margin: 0 auto 0.25rem;
  }
}

main article p {
  font-family: var(--font-family);
  font-weight: 400;
  line-height: var(--line-height-md);
  margin-bottom: var(--spacing-md);
}

@media only screen and (min-width: 1025px) {
  main article p {
    margin: 0 auto var(--spacing-md);
    color: #222;
    line-height: var(--line-height-md);
  }
}

/* SPLASH ------------------------------------------------------------------ */

main article.splash {
  max-width: 100%;
  padding: 0 var(--article-x-padding) 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--border-color);
}

@media only screen and (min-width: 1025px) {
  main article.splash {
    padding: 0 var(--article-x-padding) 1rem;
    margin: 0;
    margin-top: 2rem;
  }
}

main article.splash figure {
  margin: 0 var(--article-full-width-margin) var(--spacing-md);
  text-align: center;
}

main article.splash img {
  max-height: 30rem;
  width: 100%;
}

@media only screen and (min-width: 1025px) {
  main article.splash img {
    display: block;
    margin: auto;
    max-height: 90vh;
    width: 100%;
  }
}


/* ARTICLE ROW  ------------------------------------------------------------- */

main div.article-row {
  width: 100%;
  margin-top: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  border-top: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
}

@media only screen and (min-width: 1025px) {
  main div.article-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

main article.medium {
  padding: 0 1rem;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 1025px) {
  main article.medium {
    padding: 0 1rem;
    max-width: 45%;
    width: 45%;
    display: inline-block;
    margin-bottom: 0;
  }
}

main article.medium figure {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: var(--spacing-md);
}

@media only screen and (min-width: 1025px) {
  main article.medium figure {
    margin-bottom: var(--spacing-md);
  }
}

main article.medium img {
  max-height: 30rem;
  max-width: 100%;
}

@media only screen and (min-width: 1025px) {
  main article.medium img {
    min-width: 0;
    width: 100%;
  }
}


/* SMALL -------------------------------------------------------------------- */

main article.small {
  padding: 2rem 1rem;
  border-bottom: var(--border-width) solid var(--border-color);
}

@media only screen and (min-width: 1025px) {
  main article.small {
    padding: 1rem;
  }
}

main article.small figure,
main article.small img {
  display: none;
}

@media only screen and (min-width: 1025px) {
  main article.small figure {
    margin: 0;
    display: block;
    padding-bottom: 0;
    float: left;
  }
}

@media only screen and (min-width: 1025px) {
  main article.small img {
    height: 128px;
    min-height: 128px;
    width: 160px;
    min-width: 160px;
    box-sizing: border-box;
    padding-right: 1rem;
    display: block;
    max-width: 100%;
  }
}

main article.small h1 {
  text-align: left;
}

@media only screen and (min-width: 1025px) {
  main article.small h1 {
    max-width: 100%;
    margin: 0 0 0.25rem;
  }
}

main article.small h2 {
  text-align: left;
}

@media only screen and (min-width: 1025px) {
  main article.small h2 {
    max-width: 100%;
    margin: 0 0 0.25rem;
  }
}


