.feed a,
.feed a:visited,
.feed a:hover {
  color: var(--body-color);
  text-decoration: none;
}

.feed hr {
  border-top: var(--border-width) solid var(--border-color);
  margin: 1rem 0;
}

main article.splash address {
  font-style: normal;
  width: 100%;
  text-align: center;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

main article.splash address span {
  text-transform: none;
}

main article.splash a,
main article.medium a,
main article.small a {
  margin-top: 0.5rem;
  display: block;
  text-align: right;
}

/* SPLASH ------------------------------------------------------------------ */

main article.splash {
  max-width: 100%;
  padding: 0 var(--article-x-padding) 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--border-color);
}

@media only screen and (min-width: 1025px) {
  main article.splash {
    padding: 0 var(--article-x-padding) 1rem;
    margin: 0;
  }
}

main article.splash figure {
  margin: 0 var(--article-full-width-margin) var(--spacing-md);
  text-align: center;
}

main article.splash img {
  max-height: 30rem;
  width: 100%;
}

@media only screen and (min-width: 1025px) {
  main article.splash img {
    display: block;
    margin: auto;
    max-height: 80vh;
    max-width: 100%;
    width: auto;
  }
}

main article.splash h1 {
  font-family: var(--serif-tertiary);
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  text-transform: uppercase;
  position: relative;
}

main article.splash h1:before,
main article.splash h2:before {
  content : "";
  position: absolute;
  left    : 35%;
  bottom  : 0;
  height  : 1px;
  width   : 30%;  /* or 100px */
  border-bottom: 1.5px solid #222;
}

@media only screen and (min-width: 1025px) {
  main article.splash h1 {
    max-width: 30rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0 auto 0.75rem;
    padding-bottom: 0.75rem;
  }
}

main article.splash h2 {
  font-family: var(--serif-secondary);
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 1025px) {
  main article.splash h2 {
    max-width: 30rem;
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 0 auto 0.75rem;
    padding-bottom: 0.75rem;
  }
}

main article.splash p {
  font-family: var(--body-font);
  font-weight: 400;
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  margin-block-end: 0;
  margin-block-start: 0;
  text-indent: 0.75rem;
}

@media only screen and (min-width: 1025px) {
  main article.splash p {
    max-width: 30rem;
    margin: 0 auto;
    font-size: var(--body-font-size);
    color: #222;
    line-height: var(--body-line-height);
  }
}

/* ARTICLE ROW  ------------------------------------------------------------- */

main div.article-row {
  width: 100%;
  margin-top: 3px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 0;
  border-top: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
}

@media only screen and (min-width: 1025px) {
  main div.article-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

main article.medium {
  padding: 0 1rem;
  margin-bottom: 5rem;
}

@media only screen and (min-width: 1025px) {
  main article.medium {
    padding: 0 1rem;
    max-width: 45%;
    width: 45%;
    display: inline-block;
    margin-bottom: 0;
  }
}

main article.medium figure {
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: var(--spacing-md);
}

@media only screen and (min-width: 1025px) {
  main article.medium figure {
    margin-bottom: var(--spacing-md);
  }
}

main article.medium img {
  max-height: 30rem;
  max-width: 100%;
}

@media only screen and (min-width: 1025px) {
  main article.medium img {
    min-width: 0;
    width: 100%;
  }
}

main article.medium h1 {
  font-family: var(--serif-secondary);
  font-style: italic;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 1025px) {
  main article.medium h1 {
    max-width: 30rem;
    font-size: 1.75rem;
    line-height: 2.75rem;
    margin: 0 auto 0.75rem;
    padding-bottom: 0.75rem;
  }
}

main article.medium h2 {
  font-family: var(--serif-secondary);
  display: block;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  position: relative;
}

@media only screen and (min-width: 1025px) {
  main article.medium h2 {
    max-width: 30rem;
    font-size: 1.25rem;
    line-height: 1.4;
    margin: 0 auto 0.75rem;
    padding-bottom: 0.75rem;
  }
}

main article.medium h1:before,
main article.medium h2:before {
  content : "";
  position: absolute;
  left    : 35%;
  bottom  : 0;
  height  : 1px;
  width   : 30%;  /* or 100px */
  border-bottom: 1.5px solid #222;
}


main article.medium p {
  margin-block-start: 0.5rem;
  margin-block-end: 0;
  font-family: var(--body-font);
  font-weight: 400;
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  text-indent: 1rem;
}

@media only screen and (min-width: 1025px) {
  main article.medium p {
    padding: 0;
    margin-block-start: 0;
  }
}


/* SMALL -------------------------------------------------------------------- */

main article.small {
  padding: 0 1rem 2rem;
  border-bottom: var(--border-width) solid var(--border-color);
}

@media only screen and (min-width: 1025px) {
  main article.small {
    padding: 1rem;
  }
}

main article.small figure,
main article.small img {
  display: none;
}

@media only screen and (min-width: 1025px) {
  main article.small figure {
    margin: 0;
    display: block;
    padding-bottom: 0;
    float: left;
  }
}

@media only screen and (min-width: 1025px) {
  main article.small img {
    height: 128px;
    min-height: 128px;
    width: 160px;
    min-width: 160px;
    box-sizing: border-box;
    padding-right: 1rem;
    display: block;
    max-width: 100%;
  }
}

main article.small h1 {
  font-size: 1.25rem;
  line-height: 1.25rem;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

main article.small h2 {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  font-style: italic;
  margin-block-start: 0;
  margin-block-end: 0.5rem;
  font-family: var(--body-font);
  font-weight: 400;
}

@media only screen and (min-width: 1025px) {
  main article.small h2 {
    display: block;
  }
}

main article.small p {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

