header {
  display: flex;
  margin-bottom: 0;
  padding: 1rem 2rem 0;
}

@media only screen and (min-width: 1025px) {
  header {
    flex-direction: column;
    margin: 0 auto 0;
    max-width: 80rem;
  }
}

header aside {
  margin: 0;
}

header > section {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 1025px) {
  header section {
    margin-bottom: 0.5rem;
  }
}

/* Ears */
header > section > div:last-of-type {
  display: none;
}

@media only screen and (min-width: 1025px) {
  header > section > div {
    display: block;
    flex: 0;
    height: 150px;
    min-width: 150px;
    width: 150px;
  }
}

header hgroup {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

header hgroup p:first-of-type {
  display: none;
}

@media only screen and (min-width: 1025px) {
  header hgroup p:first-of-type {
    display: block;
  }
}

@media only screen and (min-width: 1025px) {
  header hgroup h1 {
    align-items: center;
    display: flex;
    font-family: Heuristica, Times, serif;
    /* this is a magic number and will need to be overriden if the font family changes */
    font-size: 8vw;
    font-weight: 400;
    justify-content: center;
    margin: 0;
    text-align: center;
  }
}

/* don't let the vw font-size increase forever */
@media only screen and (min-width: 1551px) {
  header hgroup h1 {
    font-size: 7rem;
  }
}

header hgroup h1 a,
header hgroup h1 a:visted,
header hgroup h1 a:hover {
  color: var(--body-color);
  text-decoration: none;
}

header hgroup p:first-of-type {
  color: #333;
  font-family: var(--sans-serif-primary);
  font-size: var(--font-size-sm);
  font-weight: 900;
  margin: 0 2rem 1.5rem;
  text-align: center;
}

header hgroup p:last-of-type {
  color: #333;
  font-family: var(--sans-serif-primary);
  font-size: var(--font-size-sm);
  font-weight: 900;
  margin: 0 2rem;
  text-align: center;
}

/* Banner */
header > aside:last-of-type {
  display: none;
}

@media only screen and (min-width: 1025px) {
  header > aside:last-of-type {
    border-bottom: var(--border-width-xs) solid var(--border-color);
    border-top: var(--border-width-sm) solid var(--border-color);
    display: flex;
    flex-direction: row;
  }

  header > aside:last-of-type > div {
    display: flex;
    flex: 1;
    font-family: var(--sans-serif-primary);
    font-size: 0.75rem;
    font-weight: 500;
    justify-content: center;
    line-height: 1.5rem;
    text-transform: uppercase;
  }

  header > aside:last-of-type > div:first-of-type {
    justify-content: flex-start;
  }

  header > aside:last-of-type > div:last-of-type {
    justify-content: flex-end;
  }
}

