@import url('./fonts.css');
@import url('./sections/next.css');
@import url('./sections/notes.css');
@import url('./sections/sources.css');
@import url('./sections/generic.css');

html, body {
  background: var(--background-color);
  font-size: 16px;
  font-family: var(--primary-font);
  line-height: 1.5rem;
  margin-top: 0;
  color: black;
  margin: 0;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 80rem;
}

a, a:visited {
  color: #0969da;
}

main {
  display: flex;
  flex-direction: row;
  max-width: 80rem;
  padding: 0 2rem 3rem;
  font-size: var(--body-font-size);
  color: #222;
}

main > section {
  flex: 5;
  padding-top: 2rem;
}

hr {
  border: none;
  border-top: 1.5px solid black;
  margin: 2rem 0;
}

.tombstone {
  margin: 4rem 0 8rem;
  font-size: 1.25rem;
  width: 100%;
  text-align: center;
}

/* TEXT UTILITIES */

.text.center {
  display: block;
  width: 100%;
  text-align: center;
}

.text.up {
  text-transform: uppercase;
}

.text.sans {
  font-family: var(--sans-serif-primary);
}

.text.lg {
  font-size: 1.5rem;
}

.text.xl {
  font-size: 2rem;
}

