.styleguide {
  padding-bottom: 3rem;
}

.styleguide section {
  border-bottom: 5px solid WhiteSmoke;
  border-left: 5px solid WhiteSmoke;
  margin-top: 0;
  padding-left: 1rem;
  padding-top: 1px;
}

.styleguide p {
  font-size: 1rem;
  margin-top: 0.25rem;
}

.styleguide li {
  font-size: 1rem;
  margin-top: 0.25rem;
}

.styleguide b {
  color: MediumSeaGreen;
  display: inline-block;
  font-size: 1.15rem;
  margin-top: 1rem;
  vertical-align: 3px;
}

.styleguide u {
  color: IndianRed;
  display: inline-block;
  font-size: 1.15rem;
  font-weight: bold;
  margin-top: 1rem;
  text-decoration: none;
  vertical-align: 3px;
}

.styleguide aside {
  background-color: WhiteSmoke;
  color: DimGray;
  font-size: 1rem;
  font-weight: normal;
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding: 1rem;
}

.styleguide aside strong {
  color: DimGray;
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1.15rem;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  text-align: left;
  display:inline-block;
  vertical-align: 3px;
}

.styleguide aside b {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1.15rem;
  font-variant: small-caps;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.styleguide aside u {
  display: block;
  font-family: Arial, sans-serif;
  font-size: 1.15rem;
  font-variant: small-caps;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  margin-top: 0;
}

.styleguide aside p {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.styleguide h1,
.styleguide h2,
.styleguide h3,
.styleguide h4 {
  margin-block-end: 0.75rem;
  margin-bottom: 0.75rem;
}

.styleguide h2 {
  margin-top: 2rem;
}

.styleguide h3 {
  border-bottom: 5px solid WhiteSmoke;
  margin-bottom: 0;
  margin-top: 0.5rem;

  /* responsible for keeping the header in view during scroll */
  background: White;
  padding: 0.75rem 0 0.5rem;
  position: sticky;
  top: 0;
}

.styleguide h4 {
  color: DimGray;
  font-size: 1.75rem;
  margin-top: 0.25rem;
  text-align: left;
}

.styleguide section hr {
  border-top-color: LightGray;
}

