.styleguide {
  font-size: var(--font-size-md);
  padding: 0 var(--article-x-padding) 3rem;
  border-bottom: var(--border-width) solid var(--border-color);
  margin-top: var(--spacing-xl);
}

.styleguide h1 {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-weight: bold;
  text-align: center;
  margin-top: 0;
}

@media only screen and (min-width: 1025px) {
  .styleguide h1 {
    font-size: var(--font-size-md);
  }
}

.styleguide hgroup {
  text-align: center;
  margin-bottom: var(--spacing-lg);
}

.styleguide h2 {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: bold;
  margin: var(--spacing-xl) 0 var(--spacing-sm);
  max-width: none;
  text-align: left;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
}

@media only screen and (min-width: 1025px) {
  .styleguide h2 {
    font-size: var(--font-size-md);
  }
}

.styleguide h3 {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: bold;
  margin: 0 0 var(--spacing-sm);
  text-align: left;
}

@media only screen and (min-width: 1025px) {
  .styleguide h3 {
    font-size: var(--font-size-md);
  }
}

.styleguide h4 {
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-style: italic;
  font-weight: bold;
  margin: 0 0 var(--spacing-sm);
  text-align: left;
}

@media only screen and (min-width: 1025px) {
  .styleguide h4 {
    font-size: var(--font-size-md);
  }
}

.styleguide p {
  font-size: var(--font-size-md);
  line-height: var(--boder-line-height);
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.styleguide aside {
  font-size: var(--font-size-md);
  font-weight: normal;
  margin: 0 var(--article-full-width-margin) 1rem;
  padding: 0 var(--spacing-lg);
}

.styleguide aside strong:before {
  content: '\273D';
  display: inline-block;
  font-family: var(--font-family);
  font-size: 1rem;
  line-height: 1rem;
  font-style: normal;
  font-weight: 700;
  height: 100%;
  margin-right: 0.375rem;
  text-transform: uppercase;
  color: DimGray;
}

.styleguide aside strong {
  color: DimGray;
  display: block;
  font-family: var(--font-family);
  font-style: normal;
  font-size: 0.875rem;
  line-height: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
  text-align: left;
  display:inline-block;
  vertical-align: 3px;
}

.styleguide aside u:before {
  color: IndianRed;
  content: '\2718 \00A0 \00A0 weak';
  display: block;
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: bold;
  height: 100%;
  margin-right: 0.5rem;
}

@media only screen and (min-width: 1025px) {
  .styleguide aside u:before {
    font-size: var(--font-size-md);
  }
}

.styleguide aside u mark {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #EABDBD;
}

.styleguide aside b mark {
  background-color: transparent;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-decoration-color: #9dd9b8;
}

.styleguide aside b:before {
  color: MediumSeaGreen;
  content: '\2714 \00A0 \00A0 strong';
  display: block;
  font-family: var(--font-family);
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: 700;
  height: 100%;
  margin-right: 0.5rem;
}

@media only screen and (min-width: 1025px) {
  .styleguide aside b:before {
    font-size: var(--font-size-md);
  }
}

.styleguide aside u:first-letter,
.styleguide aside b:first-letter {
  font-size: 1rem;
}


.styleguide aside u,
.styleguide aside b {
  margin-bottom: var(--spacing-md);
  display: block;
  font-weight: 400;
  text-decoration: none;
}

.styleguide aside p {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

