.styleguide {
  font-size: var(--body-font-size);
  padding: 0 var(--article-x-padding) 3rem;
  border-bottom: var(--border-width) solid var(--border-color);
}

@media only screen and (min-width: 1001px) {
  .styleguide {
  }
}

.styleguide section {
  margin-top: 0.5rem;
}

.styleguide p {
  font-size: var(--body-font-size);
  line-height: var(--boder-line-height);
  margin-top: 0.25rem;
}

.styleguide > section > b {
  color: MediumSeaGreen;
  display: inline-block;
  font-size: var(--body-font-size);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
  vertical-align: 3px;
}

.styleguide > section > u {
  color: IndianRed;
  display: inline-block;
  font-size: var(--body-font-size);
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-decoration: none;
}

.styleguide aside {
  background-color: #e5e5e5;
  color: DimGray;
  font-size: var(--body-font-size);
  font-weight: normal;
  margin: 0 var(--article-full-width-margin) 1rem;
  padding: 1rem;
}

.styleguide aside strong {
  color: DimGray;
  display: block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-weight: bolder;
  margin-bottom: 0.5rem;
  text-align: left;
  display:inline-block;
  vertical-align: 3px;
}

.styleguide aside u:before {
  display: block;
  height: 100%;
  content: '\2718 \00A0 bad';
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  color: IndianRed;
  margin-right: 0.5rem;
}

.styleguide aside b:before {
  display: block;
  height: 100%;
  content: '\2714 \00A0 good';
  font-weight: 500;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  color: MediumSeaGreen;
  margin-right: 0.5rem;
}

.styleguide aside u,
.styleguide aside b {
  color: DimGray;
  font-weight: 400;
  text-decoration: none;
}

.styleguide aside p {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.styleguide h1 {
  font-family: 'Noto Serif', serif;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  margin-top: 0;
}

.styleguide h2 {
  background-color: #333;
  color: white;
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  margin: 0 var(--article-full-width-margin) 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.styleguide h3 {
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  font-family: Roboto, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  margin: 0 var(--article-full-width-margin) 0;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
}

.styleguide h4 {
  color: DimGray;
  font-size: var(--body-font-size);
  margin-top: 0.25rem;
  text-align: left;
}

.styleguide section hr {
  border-top-color: LightGray;
}

