:root {
  /*
   BREAKPOINTS

   Upper Bound:  1551px
   Desktop:      1025px
   Tablet:        768px
   Mobile:        480px
  */

  /* FONTS */

  --sans-serif-primary: 'Roboto', sans-serif;
  --sans-serif-secondary: 'Fjalla One', sans-serif;
  --serif-primary: 'Frank Ruhl Libre', serif;
  --serif-secondary: 'Heuristica', serif;
  --serif-tertiary: 'Libre Baskerville', serif;

  --font-size-sm: 1rem;

  --primary-font: 'Frank Ruhl Libre', serif;
  --secondary-font: 'Frank Ruhl Libre', serif;
  --header-font: var(--secondary-font);
  --header-font-weight: 400;

  --body-font: var(--primary-font);
  --body-font-size: 1.125rem;
  --body-line-height: 1.4;
  --body-color: #222;

  /* TIDBITS */

  --border-width-xs: 1px;
  --border-width-sm: 2px;
  --border-width: 1px;
  --border-color: #333;

  /* LAYOUT */

  --spacing-sm: 0.75rem;
  --spacing-md: 1.1875rem;
  --spacing-lg: 2.25rem;
  --spacing-xl: 3rem;

  --article-x-padding: 1rem;
  --article-full-width-margin: -1rem;

  /* COLORS */

  --background-color: WhiteSmoke;
  --link-color: #0969da;
}

