:root {
  /*
   BREAKPOINTS

   Upper Bound:  1551px
   Desktop:      1025px
   Tablet:        768px
   Mobile:        480px
  */

  /* TEXT */

  --font-family: 'Frank Ruhl Libre', serif;
  --font-size-sm: 0.75rem;
  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --line-height-md: 1.4;

  /* TIDBITS */

  --border-width-xs: 1px;
  --border-width-sm: 2px;
  --border-width: 1px;
  --border-color: #ddd;

  /* LAYOUT */

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.75rem;
  --spacing-md: 1.1875rem;
  --spacing-lg: 2.25rem;
  --spacing-xl: 3rem;

  --article-x-padding: 1rem;
  --article-full-width-margin: -1rem;

  /* COLORS */

  --background-color: White;
  --link-color: #0969da;
}

