<!DOCTYPE html>

<html lang='en'>
  <head>
    <%= render_partial(:_head) %>
  </head>
  <body>
    <header>
      <%= render_partial(:_header) %>
    </header>
    <%= body %>
    <footer>
      <%= render_partial(:_footer) %>
    </footer>
  </body>
</html>

